.app {
  max-width: 1180px;
  margin: 0 auto;
}

.table-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;

  td, th {
    padding: 5px 5px;
    border: 1px solid #eee;
    vertical-align: top;
  }

  tr:nth-child(2n) td {
    background: #efefef;
  }

  .product-row {
    // font-size: 14px;
    // font-weight: bold;
  }

  .input[type=number], input[type=text] {
    text-align: center;
    padding: 3px 0;
  }

  .cell-name {
    vertical-align: middle;
  }

  .cell-price {
    width: 150px;
    max-width: 150px;
  }

  .cell-discount {
    width: 150px;
    max-width: 150px;
  }

  .cell-stock {
    width: 250px;
    max-width: 250px;
  }

  select {
    width: 100%;
  }

  input, select {
    font-size: 12px;
  }

  .price {
    input[type=number] {
      text-align: center;
      width: 100%;
    }
    &-discount {
      margin-top: 5px;

      .form-group {
        margin-bottom: 0 !important;
      }

      select {
        margin-bottom: 5px;
      }
    }
  }

  .stock {
    label {
      display: block;
      margin-top: 8px;
      margin-bottom: 3px;
    }
    input {
      text-align: center;
      width: 100%;
    }
  }

  .row-child {
    .cell-name {
      padding-left: 50px;
      font-style: italic;
    }
  }

  a {
    color: #333333;
    &:hover {
      text-decoration: underline;
    }
  }
}